@model Usuarios
 @{
    ViewData["Title"] = "Login";
}
<form asp-area="" asp-controller="Login" asp-action="RevisarLogin" method="post">

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Bienvenidos</h2>
                            <p class="text-white-50 mb-5">Login</p>

                            <div asp-validation-summary="All"></div>
                            <div class="form-outline form-white mb-4">
                                <label asp-for="Correo" class="form-label"></label>
                                    <input asp-for="Correo" name="Usuario" type="email" class="form-control form-control-lg" />
                                <span asp-validation-for="Correo" class="text-danger"></span>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label asp-for="Contraseña" class="form-label"></label>
                                    <input asp-for="Contraseña" name="Clave" type="password" class="form-control form-control-lg" />
                                <span asp-validation-for="Contraseña" class="text-danger"></span>
                            </div>
                                <button type="submit" class="btn btn-outline-light btn-lg px-5">Log in</button>
                        </div>

                        <div>
                            <p class="mb-0">
                                No tienes una cuenta? <a asp-controller="Login" asp-action="Registrarse" class="text-white-50 fw-bold">Registrarse</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>
