@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FrutasVerdeMarket.com</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Aqui trabajando bla bla bla bla bla bla bla bla</h1>
<h1>Cansado de trabajar duro</h1>
<h1>Que rico un cafe</h1>
<h1>Que rico Domir</h1>